.layout-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.layout-content {
  padding: 24px;
  min-height: 700px;
}

.layout-footer {
  text-align: center;
}

.layout-logout {
  background-color: red;
  border-color: red;
  color: white;
}

.layout-desktop {
  display: block;
}

.search-input {
  width: 300px;
}

@media (max-width: 680px) {
  /* … */
  .layout-desktop {
    display: none;
  }
  .search-input {
    width: 120px;
  }
  .layout-content {
    padding: 10px;
  }
}
